{% extends 'question_admin.html' %}

{% block base %}
	{% if session.questions[question_num].revealed %}
		<ul class="ui list">
			{% for answer, users in data.unique_answers_for_question(session, question_num).items() %}
				<li style="line-height: 32px;">
					{{ session.questions[question_num].answer_form.replace('$1', answer) }}:
					{% for user in users %}
						<button class="ui button" style="width: 32px; height: 32px; padding: 0;"></button>
					{% endfor %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock base %}
