{% extends 'question_admin.html' %}

{% block base %}
	<h1 class="dividing header">Quiz review</h1>
	
	{# list gunks things up for some reason #}
	<ol id="content">
		{% for question in session.questions %}
			{% set speed_question_num = loop.index0 %}
			{% if question.type == 'speed' %}
				<li>
					{{ question.prompt }}
					<ul>
						{% for answer in question.answers %}
							<li style="line-height: 32px;">
								{{ answer }}:
								{% for _, user in data.users.items() %}
									{% if user.session == session and user.answers[speed_question_num] == answer %}
										<button class="button" style="width: 32px; height: 32px; padding: 0;"></button>
									{% endif %}
								{% endfor %}
							</li>
						{% endfor %}
					</ul>
				</li>
			{% endif %}
		{% endfor %}
	</ol>
	<script>
		renderMathInElement(document.getElementById('content'));
	</script>
{% endblock %}

{% block footmatter %}
{% endblock %}
